@use "../global" as *;

#app {
  position: relative;
  z-index: 1111;
}

.main {
  position: relative;
}

.textHidden {
  display: none;
}

#stalker {
  pointer-events: none;
  position: fixed;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.02s;
  transition-timing-function: ease-out;
  z-index: 999;
  mix-blend-mode: difference;

  &.is_active {
    top: -40px;
    left: -40px;
    width: 80px;
    height: 80px;
    transition: 0.2s;
  }
  &.js-noneStalker {
    display: none;
  }
}

.headerNav {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #222;

  &.navActive {
    height: 0;
  }

  &.topHidden {
    height: 0;
  }
}

.headerNav .text {
  position: fixed;
  font-size: 18rem;
  color: rgba(255, 255, 255, 0.1);
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 900;
  letter-spacing: 0;
  font-family: $f-roboto;

  @include tab {
    font-size: 12rem;

    @include sp {
      font-size: 6rem;
      line-height: 3;
    }
  }
}

.headerNav a {
  display: inline-block;
  position: fixed;
  color: #fff;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 2px;

  @include tab {
    font-size: 3rem;
  }
}

.topLink {
  .linkSplit {
    display: flex;

    span {
      overflow: hidden;
      transform: translate(0, -100px);
      animation: linkHidden 0.3s forwards;
      opacity: 0;
    }
  }

  &.navActive {
    opacity: 0 !important;
  }

  &:hover {
    animation: textGlitch 1s infinite;
  }

  &:hover:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    top: 0;
    color: #fff;
    background: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: textNoise 2s infinite linear alternate-reverse;
  }
}

.aboutLink {
  top: 15%;
  left: 10%;

  @include sp {
  }
}

.skillLink {
  top: 20%;
  left: 75%;

  @include sp {
    left: 65%;
  }
}

.worksLink {
  top: 70%;
  left: 20%;

  @include sp {
    left: 15%;
  }
}

.infoLink {
  top: 80%;
  left: 70%;

  @include sp {
    left: 60%;
  }
}

@keyframes linkHidden {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes textGlitch {
  0% {
    transform: none;
  }

  12% {
    transform: translate(0, 0);
  }

  12.5% {
    transform: translate(-1px, 1px);
  }

  33% {
    transform: none;
  }

  33.3% {
    transform: skewX(30deg);
  }

  33.4% {
    opacity: 1;
  }

  33.5% {
    opacity: 0.5;
  }

  33.6% {
    opacity: 1;
    transform: skewX(-30deg);
  }

  33.9% {
    transform: none;
  }

  37.5% {
    transform: translate(-1px, -1px);
  }

  62.5% {
    transform: translate(0, 0);
  }

  66% {
    transform: none;
  }

  66.3% {
    transform: skewX(5deg);
  }

  66.5% {
    opacity: 0.9;
  }

  66.6% {
    opacity: 1;
    transform: skewX(-5deg);
  }

  66.9% {
    transform: none;
  }

  77% {
    transform: none;
  }

  77.3% {
    transform: skewX(15deg);
  }

  77.6% {
    transform: skewX(-15deg);
  }

  77.9% {
    transform: none;
  }

  87.5% {
    transform: translate(1px, -1px);
  }

  99.9% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes textNoise {
  $a: 20;

  @for $i from 0 through $a {
    #{percentage($i*(1/$a))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

.weather {
  position: fixed;
  z-index: 111;
  .weatherText {
    color: #fff;
  }
}
